<a href="https://colab.research.google.com/github/felipeduranvilches/MODULO-2/blob/main/DataScienceEcosystemFMDV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 2 - Create a markdown cell with the notebook title
Data Science Tools and Ecosystem

# Exercise 3 Markdown cell for an introduction.
In this notebook, we provide an overview of the tools and ecosystem of Data Science. Throughout various exercises, we will learn about the most widely used programming languages, key data analysis libraries, and essential tools that support data science workflows. Additionally, we will practice basic operations with Python to reinforce the concepts covered.

## Exercise 4 - Create a markdown cell to list data science languages


Some of the popular languages that Data Scientists use are:

1. MATLAB
2. JavaScript
3. SQL
4. C++
5. R

## Exercise 5 - Create a markdown cell to list data science libraries
Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Plotly
3. PyTorch
4. Pandas
5. NumPy

## Exercise 6 - Create a markdown cell with a table of Data Science tools

| **Data Science Tools**     |
|----------------------------|
| Google Colab          |
| Spyder                     |
| RapidMiner             |
| IBM Watson Studio             |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition:** `8 + 5 = 13`
   
2. **Subtraction:** `15 - 5 = 10`
   
3. **Multiplication:** `4 * 4 = 16`
   
4. **Division:** `30 / 3 = 10`
   
5. **Exponentiation:** `3 ** 3 = 27`

6. **Parentheses and mixed operations:** `(8 * 1) + 10 = 18`

7. **Mixed operations with exponents and division:**  
   `4 ** 2 / 2 + 3 = 5.0`

8. **Parentheses with nested operations:**  
   `(10 + (2 * 3)) - 7 = 11`

9. **Exponentiation and square roots:**  
   `25 ** (1/2) = 5.0` (Square root of 25)

10. **Compound expression with multiple operations:**  
   `(6 * 2) + (4 ** 2) - (3 / 3) = 10.0`

## Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(10 * 5) + 8

58

## Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
3000 / 60

50.0

## Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- Understand the fundamentals of data analysis in Python
- Learn how to clean and prepare data for analysis
- Develop skills to effectively visualize data
- Implement basic machine learning models
- Learn to use Jupyter Notebooks to document and present analysis

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Felipe Mauricio Dur√°n Vilches